body {
  padding: 20px 15px 40px;
  overflow-y: scroll;
  background-color: darken(white, 4%);
}

.ng-cloak {
  display: none;
}

.nav-pills {
  margin-bottom: 0;
}

.top-contact {
  padding-top: 10px;
}

.page {
  margin: 0 auto;
  max-width: 700px;

  hr {
    margin: 15px 0;
  }
}

.glyphicon {
  min-width: 14px;
}

.jc-btn-default {
  color: #FFF;
  background-color: #474949;
  border-color: #474949;

  &:hover, &:focus, &:active {
    color: #FFF;
    background-color: #3A3C3C;
    border-color: #2E2F2F;
  }
}

.home-link {
  position: relative;

  .home-icon {
    position: absolute;
    top: 10px;
  }

  .home-text {
    padding-left: 20px;
  }
}

