<div class="cv row ng-cloak" ng-init="initCv()">
  <div class="col-sm-12 col-lg-12">
    <ul class="nav nav-pills lang-selector">
      <li ng-class="{active: cv.params.language == 'english'}">
        <a href="/cv/english" ng-bind-html="cv.data.english.tag"></a>
      </li>
      <li ng-class="{active: cv.params.language == 'spanish'}">
        <a href="/cv/spanish" ng-bind-html="cv.data.spanish.tag"></a>
      </li>
    </ul>
  </div>
  <div class="well col-sm-12 col-lg-12">
    <h1 ng-bind-html="cvLocal.name"></h1>
    
    <hr>
    
    <div class="contact-details">
      <p ng-repeat="contactDetail in cvLocal.contact">
        <span ng-bind-html="contactDetail.label"></span>:
        <span ng-bind-html="contactDetail.value"></span>
      </p>
    </div>
    
    <hr>
    
    <div class="career-objectives">
      <h3 ng-bind-html="cvLocal.career_objectives.label"></h3>
      <p ng-bind-html="cvLocal.career_objectives.value"></p>
    </div>
    
    <hr>
    
    <div class="education">
      <h3 ng-bind-html="cvLocal.education.label"></h3>
      <ul class="education-list">
        <li ng-repeat="education in cvLocal.education.list"
            ng-bind-html="education"></li>
      </ul>
    </div>
    
    <hr>
    
    <div class="work-experience">
      <h3 ng-bind-html="cvLocal.work_experience.label"></h3>
      <ul class="job-list">
        <li ng-repeat="job in cvLocal.work_experience.list">
          <p class="job-title" ng-bind-html="job.title"></p>
          <p class="job-dates" ng-bind-html="job.dates"></p>
          <p class="job-description" ng-bind-html="job.description"></p>
        </li>
      </ul>
    </div>
  </div>
</div>
