<header class="masthead row">
  <div class="col-xs-5">
    <ul class="nav nav-pills">
      <li data-ng-class="{active: path == '/'}">
        <a data-ng-href="{{ prefixLink }}/" class="home-link">
          <span class="glyphicon glyphicon-home home-icon"></span>
          <span class="home-text">Home</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-xs-7 top-contact hidden-xs">
    <div class="row">
      <div class="col-xs-7">
        <span class="glyphicon glyphicon-envelope"></span>
        <a href="mailto:javier@javiercejudo.com" itemprop="email">
          javier@javiercejudo.com
        </a>
      </div>
      <div class="col-xs-5">
        <span class="glyphicon glyphicon-phone"></span>
        <span itemprop="telephone">(+61) 0432 429 789</span>
      </div>
    </div>
  </div>
</header>

<hr>
