<div class="masthead row">
  <div class="col-sm-5 col-lg-5">
    <ul class="nav nav-pills">
      <li ng-class="{active: path == '/'}">
        <a href="/" class="home-link">
          <span class="glyphicon glyphicon-home home-icon"></span>
          <span class="home-text">Home</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-7 col-lg-7 top-contact hidden-sm">
    <div class="row">
      <div class="col-sm-7 col-lg-7">
        <span class="glyphicon glyphicon-envelope vertical-middle"></span>
        <a href="mailto:javier@javiercejudo.com" itemprop="email">
          javier@javiercejudo.com
        </a>
      </div>
      <div class="col-sm-5 col-lg-5">
        <span class="glyphicon glyphicon-phone vertical-middle"></span>
        <span itemprop="telephone">(+61) 0432 429 789</span>
      </div>
    </div>
  </div>
</div>

<hr>
