<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li data-ng-class="{active: path == '/'}">
        <a data-ng-href="{{ prefixLink }}/" class="home-link">
          <span class="glyphicon glyphicon-home"></span>
          <span class="icon-text">Home</span>
        </a>
      </li>
      <li data-ng-class="{active: path.indexOf('/cv/') != -1}">
        <a data-ng-href="{{ prefixLink }}/cv">
          <span class="glyphicon glyphicon-book"></span>
          <span class="icon-text">CV</span>
        </a>
      </li>
      <li data-ng-class="{active: path.indexOf('/game/') != -1}">
        <a data-ng-href="{{ prefixLink }}/game">
          <span class="glyphicon glyphicon-briefcase"></span>
          <span class="icon-text">Game</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<hr />
