<div class="home" ng-init="$root.pageTitle = 'Home'">
  <div class="main-message row">
    <div class="col-sm-12 col-lg-12">
      <h1 class="title">
        <div class="hidden-sm">
          <span class="tags">&lt;</span>
          Javier Cejudo
          <span class="tags">/&gt;</span>
        </div>
        <div class="visible-sm">
          Javier Cejudo
        </div>
      </h1>

      <p class="lead">
        I'm a young software engineer wishing to continue my career as a web
        developer where skills in database systems, data processing and
        mathematical training can be used, with special interest in frontend
        development and management systems (e.g. e-commerce, finance).
      </p>

      <a class="btn btn-large btn-success" href="/cv/english">
        See my CV in English…
      </a>
      <a class="btn btn-default" href="/cv/spanish">
        … o ve mi CV en español
      </a>
    </div>
  </div>

  <hr />

  <div class="latest-projects" id="my-latest-projects">
    <div class="row">
      <div class="col-sm-7 col-lg-7">
        <h3>Latest projects</h3>
        <h4 class="title">
          <a href="https://github.com/javiercejudo/DejaVideo">DejaVideo</a>
          <small>
            <a href="//dejavideo.javiercejudo.com">(live example)</a>
          </small>
        </h4>
        <p>
          A responsive HTML5 + CSS3 video player with directory navigation and
          an easily configurable PHP back end.
        </p>

        <h4 class="title">
          <a href="https://github.com/javiercejudo/Australian-News">AusNews</a>
        </h4>
        <p>
          A lightweight RSS reader written in PHP that includes advanced features
          like instant search with Google suggestions, infinite scrolling, and
          unobtrusive JavaScript.</p>

        <h4 class="title">
          <a href="https://github.com/javiercejudo/SimpleWBS">SimpleWBS</a>
        </h4>
        <p>
          A PHP application that allows to create complex and fully documented
          WBS (work breakdown structures).
        </p>
      </div>

      <div class="col-sm-5 col-lg-5">
        <h3>Experiments</h3>
        <h4 class="title">
          <a href="https://github.com/javiercejudo/Flickr-gallery">
            Flickr Gallery
          </a>
        </h4>
        <p>A simple Flickr gallery to demonstrate the Flickr API.</p>

        <h4 class="title">
          <a href="https://github.com/javiercejudo/Euro-2012-Scorers/">
            Euro 2012 Scorers
          </a>
        </h4>
        <p>
          Using remote web services (SOAP &amp; REST) and caching their data
          locally to improve performance.
        </p>

        <h4 class="title">
          <a href="https://github.com/javiercejudo/pfc">
            Final Year Project
          </a>
        </h4>
        <p>Code samples and extensive documentation (in Spanish)</p>
      </div>
    </div>
  </div>
</div>
