<div class="home" data-jc-page-title="Home">
  <div class="main-message row">
    <div class="col-xs-12">
      <h1 class="title">
        <span class="hidden-xs">
          <span class="tags">&lt;</span>
          Javier Cejudo
          <span class="tags">&gt;</span>
        </span>
        <span class="visible-xs">
          Javier Cejudo
        </span>
      </h1>

      <div class="row contact text-center">
        <div class="contact-col col-xs-12 col-sm-3 col-sm-offset-3">
          <a class="icon-text" href="mailto:javier@javiercejudo.com" itemprop="email">
            javier@javiercejudo.com
          </a>
        </div>
        <div class="contact-col col-xs-12 col-sm-3">
          <a class="icon-text" href="tel:+61432429789">(+61) 432 429 789</a>
        </div>
      </div>

      <p class="lead">
        I'm a young software engineer wishing to continue my career as a web
        developer where skills in database systems, data processing and
        mathematical training can be used, with special interest in frontend
        development and management systems (e.g. e-commerce, finance).
      </p>

      <div class="cv-btn">
        <a class="btn btn-lg btn-success" data-ng-href="{{ prefixLink }}/cv/english">
          See my CV in English…
        </a>
        <a class="btn btn-lg jc-btn-default" data-ng-href="{{ prefixLink }}/cv/spanish">
          … o ve mi CV en español
        </a>
      </div>
    </div>
  </div>

  <hr />

  <div class="latest-projects" id="my-latest-projects">
    <div class="row">
      <div class="col-sm-7">
        <h3 class="project-column-title">Latest projects</h3>

        <div class="project">
          <h4 class="title">
            <a href="https://github.com/javiercejudo/javiercejudo.com">JavierCejudo.com</a>
          </h4>
          <p>
            This website! Built using modern technologies including AngularJs,
            Bootstrap 3, LESS, Grunt, Bower, Karma, Jasmine...
          </p>
        </div>

        <div class="project">
          <h4 class="title">
            <a href="https://github.com/javiercejudo/DejaVideo">DejaVideo</a>
            <small>
              <a href="http://dejavideo.javiercejudo.com">(live example)</a>
            </small>
          </h4>
          <p>
            A responsive HTML5 + CSS3 video player with directory navigation and
            an easily configurable PHP back end.
          </p>
        </div>

        <div class="project">
          <h4 class="title">
            <a href="https://github.com/javiercejudo/Australian-News">AusNews</a>
          </h4>
          <p>
            A lightweight RSS reader written in PHP that includes advanced features
            like instant search with Google suggestions, infinite scrolling, and
            unobtrusive JavaScript.
          </p>
        </div>
      </div>

      <div class="col-sm-5">
        <h3 class="project-column-title">Experiments</h3>

        <div class="project">
          <h4 class="title">
            <a href="https://github.com/javiercejudo/javiercejudo.com/blob/master/js/controllers/SecretaryProblemCtrl.js">
              AngularJs Game</a>
            <small>
              <a data-ng-href="{{ prefixLink }}/game">(play)</a>
            </small>
          </h4>
          <p>
            A little game based on a
            <a href="http://en.wikipedia.org/wiki/Secretary_problem">known mathematical problem</a> about optimal stopping theory.
          </p>
        </div>

        <div class="project">
          <h4 class="title">
            <a href="https://github.com/javiercejudo/Flickr-gallery">
              Flickr Gallery
            </a>
          </h4>
          <p>
            A simple Flickr gallery to demonstrate the Flickr API.
          </p>
        </div>

        <div class="project">
          <h4 class="title">
            <a href="https://github.com/javiercejudo/pfc">
              Final Year Project
            </a>
          </h4>
          <p>Human Resources management tool. Includes code samples and extensive documentation (in Spanish).</p>
        </div>
      </div>
    </div>
  </div>
</div>
