<div class="secretary-problem"
     ng-controller="SecretaryProblemCtrl"
     ng-init="$root.pageTitle = 'Game'; initSecretaryProblem();">
  <p>
    Click on a briefcase to see its content. If you bet on the one with
    the highest amount of money, you win; otherwise, you lose.
    <a href="http://en.wikipedia.org/wiki/Secretary_problem">Read more about this game.</a>
  </p>
  <p class="visible-sm">
    Find controls at the bottom.
  </p>
  <ul class="list">
    <li class="item" ng-repeat="item in game.items" ng-click="generateItemValue($index)"
        ng-class="{selected: game.itemSelected == $index,
                   max: isMax($index)}">
      <span class="icon glyphicon glyphicon-briefcase"></span>
      <div ng-switch on="item">
        <div ng-switch-when="0">
          {{game.unknownValue}}
        </div>
        <div ng-switch-default>
          ${{item | number:0}}
        </div>
      </div>
    </li>
  </ul>
  <span class="btn btn-lg btn-primary" ng-click="selectItem(game.lastItemShown, true)"
        ng-class="{disabled: !canSelectItem()}">
    Bet on the current briefcase
  </span>
  <span class="btn btn-danger" ng-click="initSecretaryProblem()">
    New game
  </span>
  <span ng-switch on="game.won" class="btn">
    <span ng-switch-when="true">You won :)</span>
    <span ng-switch-when="false">You lost :(</span>
  </span>
</div>
