<div class="secretary-problem"
     ng-controller="SecretaryProblemCtrl"
     ng-init="$root.pageTitle = 'Game'; initSecretaryProblem();">
  <p>
    Click on a briefcase to see its content. If you stop and bet on the one with
    the highest amount of money, you win; otherwise you lose.
    <a href="http://en.wikipedia.org/wiki/Secretary_problem">Read more about this game.</a>
  </p>
  <p class="num-items">
    Number of briefcases:
    <a href="/game/2"   ng-class="{current: game.n == 2  }">2</a>   ·
    <a href="/game/3"   ng-class="{current: game.n == 3  }">3</a>   ·
    <a href="/game/5"   ng-class="{current: game.n == 5  }">5</a>   ·
    <a href="/game/10"  ng-class="{current: game.n == 10 }">10</a>  ·
    <a href="/game/20"  ng-class="{current: game.n == 20 }">20</a>  ·
    <a href="/game/50"  ng-class="{current: game.n == 50 }">50</a>  ·
    <a href="/game/100" ng-class="{current: game.n == 100}">100</a> ·
    <a href="/game/256" ng-class="{current: game.n == 256}">256</a>
  </p>
  <p class="visible-xs">
    Find controls at the bottom.
  </p>
  <ul class="list">
    <li class="item" ng-repeat="item in game.items" ng-click="generateItemValue($index)"
        ng-class="{selected: game.itemSelected == $index,
                   max: isMax($index),
                   current: isCurrent($index),
                   rejected: isRejected($index),
                   'non-actionable': isRejected($index)}">
      <span class="icon glyphicon glyphicon-briefcase"></span>
      <div ng-switch on="item">
        <div ng-switch-when="-1">
          {{game.unknownValue}}
        </div>
        <div ng-switch-default>
          ${{item | number:0}}
        </div>
      </div>
    </li>
  </ul>
  <div>
    <span class="btn btn-primary" ng-click="selectItem(game.lastItemShown, true)"
          ng-class="{disabled: !canSelectItem()}">
      Stop and bet on the current briefcase
    </span>
    <span class="btn btn-danger" ng-click="initSecretaryProblem()"
          ng-class="{disabled: game.itemSelected == -1 && game.numItemsShown == 0}">
      New game
    </span>
    <span ng-switch on="game.won" class="result">
      <span ng-switch-when="true">You won :)</span>
      <span ng-switch-when="false">You lost :(</span>
    </span>
  </div>
  <p ng-show="game.record.gamesPlayed > 0">
    Your record with {{game.n}} briefcases:
    {{game.record.gamesWon}}/{{game.record.gamesPlayed}}
    ({{100 * game.record.gamesWon / game.record.gamesPlayed | number:2}}%)
     -
    <a href="javascript:null;" ng-click="resetRecord()">Reset</a>
  </p>
</div>
