<ul class="jc-posts-list">
  {{#component.postsList.posts}}
  <li>
    <a
      href="{{{ molino.baseHref }}}{{{ component.postsList.path }}}/{{{ outputPath }}}"
      >{{ title }}</a
    >
  </li>
  {{/component.postsList.posts}}
</ul>
