header {
  border-bottom: 1px solid #222;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav > .logo-link {
  margin: calc(5rem / 16);
  padding: calc(10rem / 16);
}

header > nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

header > nav > ul > li {
  margin: calc(5rem / 16);
  padding: calc(10rem / 16);
}

header > nav a {
  text-decoration: none;
}

header > nav a.is-active{
  font-weight: bold;
  color: #fff;
}