html[data-theme=jc-light] footer {
  --jc-footer-bg-colour: #ddd;
}

footer {
  --jc-footer-bg-colour: #222;
  padding: calc(15rem / 16);
  text-align: center;
  font-size: calc(13rem / 16);
  background-color: var(--jc-footer-bg-colour);
}

.edit-link:not(:last-child)::after {
  content: ' · '
}
