html[data-theme=jc-light] {
  --jc-bg-colour: #fff;
}

html {
  --jc-bg-colour: #000;

  /* Prevent system color scheme’s background color being used in Firefox, IE, and Opera. */
  /* See https://css-tricks.com/just-one-of-those-weird-things-about-css-background-on-body/ */
  background-color: var(--jc-bg-colour);
  margin: 0;
}

body {
  /* borrowed from GitHub */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
