.logo {
  --logo-letter-height: calc(18rem / 16);
  --logo-j-width: var(--logo-letter-height);
  --logo-j-radius: calc(var(--logo-letter-height) / 3.6);
  --logo-c-width: calc(var(--logo-letter-height) / 1.2);
  --logo-spacing: calc(var(--logo-letter-height) / 6);
  --logo-radius: calc(var(--logo-letter-height) / 6);
  --logo-border-width: calc(var(--logo-letter-height) / 9);
}

.logo {
  display: flex;
  align-items: center;
  padding: var(--logo-spacing) 0 var(--logo-spacing) 0px;
  border: var(--logo-border-width) solid #fff;
  border-radius: var(--logo-radius);
  background: black;
}

.logo span {
  height: var(--logo-letter-height);
  border-color: #fff;
  border-style: solid;
  border-width: 0;
}

.logo .logo-j {
  margin-right: var(--logo-spacing);
  width: var(--logo-j-width);
  background: #fff;
  border-bottom-right-radius: var(--logo-j-radius);
}

.logo .logo-j2 {
  border-color: #000;
  border-top-width: var(--logo-letter-height);
  border-right: var(--logo-j-width) solid transparent;
  margin-right: var(--logo-spacing);
  position: absolute;
}

.logo .logo-c {
  width: var(--logo-c-width);
  border-color: #000;
  background-color: #fff;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  margin-right: calc(-0.5rem / 16);
}
