:root {
  --jc-color: #eee;
  --jc-color-active: #bbb;
}

html[data-theme=jc-light] {
  --jc-color: #111;
  --jc-color-active: #444;
}

body,
a {
  color: var(--jc-color);
  transition: color 200ms ease-in;
}

body {
  line-height: 1.6;
}

a:hover,
a:focus {
  color: var(--jc-color-active);
}
