<div class="container narrow">
  <p>
    <a href="{{{ molino.baseHref }}}{{{ blogPath }}}/index.html">Blog</a>
  </p>
  <h1>{{ post.title }}</h1>
  TLDR: {{{ post.description }}} {{{ content }}}
</div>
