<div class="container narrow">
  <p>
    <a href="{{{ molino.baseHref }}}{{{ data.blogPath }}}/index.html">Blog</a>
  </p>
  <h1>{{ data.title }}</h1>
  TLDR: {{{ data.description }}} {{{ data.content }}}
</div>
