{{#data.hasProjects}}
  <ul>
    {{#data.projects}}
      <li><a href="{{{molino.baseHref}}}{{{path}}}">{{name}}</a></li>
    {{/data.projects}}
  </ul>
{{/data.hasProjects}}
{{^data.hasProjects}}
  No projects
{{/data.hasProjects}}
