<div class="container">
  <p>Hey, I'm Javier!</p>

  <div id="root"></div>

  {{#data.hasProjects}}
  <h2><a href="{{{ molino.baseHref }}}projects/index.html">Projects</a></h2>
  <ul>
    {{#data.projects}}
    <li>
      <a href="{{{ molino.baseHref }}}projects/{{{ path }}}">{{ name }}</a>
    </li>
    {{/data.projects}}
  </ul>
  {{/data.hasProjects}}
  {{^data.hasProjects}}
  No projects
  {{/data.hasProjects}}

  {{#data.hasPosts}}
  <h2>
    <a href="{{{ molino.baseHref }}}{{{ data.blogData.path }}}/index.html">
      Blog
    </a>
  </h2>
  {{> postsList}}
  {{/data.hasPosts}}
  {{^data.hasPosts}}
  No blog posts
  {{/data.hasPosts}}
</div>
