.main-message {
  text-align: center;
  
  .title {
    font-size: 72px;
    line-height: 1;
  }

  .tags {
    color: #ccc;
  }

  .btn {
    margin-bottom: 10px;
  }
}

.latest-projects {
  .title {
    margin-top: 28px;
  }
}

