$selectedColor: #357ebd;
$rejectedColor: #888;
$maxColor: #4cae4c;

.list {
  padding-left: 0;
  margin-top: 30px;
  list-style: none outside none;
  text-align: center;

  > .item {
    display: inline-block;
    margin: 10px 0 30px;
    padding: 0 10px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    .icon {
      font-size: 110px;
    }
  }

  > .hover {
    color: lighten($selectedColor, 20%);
  }

  > .non-actionable {
    cursor: auto;
  }

  > .current {
    color: $selectedColor;
  }

  > .selected {
    color: $selectedColor;
  }

  > .rejected {
    color: $rejectedColor;
  }

  > .max {
    color: #4cae4c;
  }
}

.result {
  display: inline-block;
  margin-left: 10px;
}

.btn {
  margin-bottom: 10px;
  vertical-align: baseline;
}
