.lang-selector {
  margin-bottom: 15px;
}

.well {
  margin: 0 15px;
  width: auto;
  background-color: #f9f9f9;
}

.education {
  .education-list {
    list-style-type: square;
  }
}

.work-experience {
  .job-list {
    list-style-type: none;
    padding-left: 25px;
    
    .job-title {
      font-weight: bold;
      margin-bottom: 0;
    }
    
    .job-dates {
      font-size: small;
      color: #888;
    }
  }
}
