{{#molino.isProd}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{{ molino.baseHref }}}assets/css/game/index.less"
/>
{{/molino.isProd}}
{{^molino.isProd}}
<link
  rel="stylesheet/less"
  type="text/css"
  href="{{{ molino.baseHref }}}assets/css/game/index.less"
/>
<script
  type="module"
  src="{{{ molino.baseHref }}}../pages/game/app/deps/less.js"
></script>
{{/molino.isProd}}

{{={[{ }]}=}}
<div class="container" data-ng-app="SecretaryProblem" data-ng-strict-di>
  <!-- <div data-ng-strict-di> -->
  <div
    class="secretary-problem ng-cloak"
    data-ng-controller="SecretaryProblemCtrl"
    data-ng-init="initSecretaryProblem()"
  >
    <p>
      Click on a briefcase to see its content. If you stop and bet on the one
      with the highest amount of money, you win; otherwise you lose.
      <a href="http://en.wikipedia.org/wiki/Secretary_problem"
        >Read more about this game.</a
      >
    </p>
    <!-- <p class="num-items">
      Number of briefcases:
      <a
        data-ng-href="{{ prefixLink }}/game/3"
        data-ng-class="{current: game.n == 3  }"
        >3</a
      >
      ·
      <a
        data-ng-href="{{ prefixLink }}/game/5"
        data-ng-class="{current: game.n == 5  }"
        >5</a
      >
      ·
      <a
        data-ng-href="{{ prefixLink }}/game/10"
        data-ng-class="{current: game.n == 10 }"
        >10</a
      >
      ·
      <a
        data-ng-href="{{ prefixLink }}/game/15"
        data-ng-class="{current: game.n == 15 }"
        >15</a
      >
      ·
      <a
        data-ng-href="{{ prefixLink }}/game/20"
        data-ng-class="{current: game.n == 20 }"
        >20</a
      >
      ·
      <a
        data-ng-href="{{ prefixLink }}/game/50"
        data-ng-class="{current: game.n == 50 }"
        >50</a
      >
      ·
      <a
        data-ng-href="{{ prefixLink }}/game/100"
        data-ng-class="{current: game.n == 100}"
        >100</a
      >
      ·
      <a
        data-ng-href="{{ prefixLink }}/game/250"
        data-ng-class="{current: game.n == 250}"
        >250</a
      >
      ·
      <a
        data-ng-href="{{ prefixLink }}/game/500"
        data-ng-class="{current: game.n == 500}"
        >500</a
      >
    </p> -->
    <p class="visible-xs">Find controls at the bottom.</p>
    <ul class="list">
      <li
        class="item"
        data-ng-repeat="item in game.items track by $index"
        data-ng-click="generateItemValue($index)"
        data-ng-class="{selected: game.itemSelected == $index,
                        max: isMax($index),
                        current: isCurrent($index),
                        rejected: isRejected($index),
                        'losing-bet': isLosingBet($index),
                        'non-actionable': isRejected($index)}"
      >
        <!-- SVG credit: https://icons.getbootstrap.com/icons/briefcase-fill/ -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="icon"
          viewBox="0 0 16 16"
        >
          <path
            d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"
          />
          <path
            d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"
          />
        </svg>
        <div data-ng-switch data-on="item">
          <div data-ng-switch-when="-1">
            {{ game.unknownValue }}
          </div>
          <div data-ng-switch-default>${{ item | number: 0 }}</div>
        </div>
      </li>
    </ul>
    <div>
      <ul class="list-inline">
        <li>
          <button
            class="btn btn-primary button-select-item"
            data-ng-click="selectItem(game.lastItemShown)"
            data-ng-class="{disabled: !canSelectItem()}"
          >
            Stop and bet on the current briefcase
          </button>
        </li>
        <li>
          <button
            class="btn btn-primary button-next-item"
            data-ng-click="showNext()"
            data-ng-class="{disabled: !canShowNext()}"
          >
            Show next
          </button>
        </li>
        <li>
          <button
            class="btn btn-danger button-new-game"
            data-ng-click="initSecretaryProblem()"
            data-ng-class="{disabled: game.itemSelected == -1 && game.numItemsShown == 0}"
          >
            New game
          </button>
        </li>
        <li>
          <span data-ng-switch data-on="game.won" class="result">
            <span data-ng-switch-when="true">You won :)</span>
            <span data-ng-switch-when="false">You lost :(</span>
          </span>
        </li>
      </ul>
    </div>
    <p data-ng-show="game.record.gamesPlayed > 0">
      Your record with {{ game.n }} briefcases: {{ game.record.gamesWon }}/{{
        game.record.gamesPlayed
      }}
      ({{
        (100 * game.record.gamesWon) / game.record.gamesPlayed | number: 2
      }}%) -
      <button data-ng-click="resetRecord()">Reset</button>
    </p>
  </div>
</div>
