<!doctype html>
<html lang="en-AU">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>

  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{{homePath}}}/css/common.css">
</head>

<body>
  <header><a href="/">Home</a> - <a href="/contact">Contact</a></header>
  {{{body}}}
  <footer>Footer</footer>
</body>

</html>
