<!doctype html>
<html lang="en-AU">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>

  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#isProd}}
    {{! Parcel does not seem to look at the base tag, so `baseHref` is still }}
    {{! used throughout the template. In prod, all assets and links to files }}
    {{! are relative to `baseHref`, hence why we need this base tag. }}
    <base href="{{{baseHref}}}">
  {{/isProd}}

  <link rel="stylesheet" type="text/css" href="{{{baseHref}}}css/common.css">

  {{#isProd}}
    <script src="{{{baseHref}}}js/app.js" defer></script>
  {{/isProd}}
  {{^isProd}}
    <script type="module" src="{{{baseHref}}}js/app.js"></script>
  {{/isProd}}
</head>

<body>
  <header>
    <a href="{{{baseHref}}}index.html">Home</a>
    -
    <a href="{{{baseHref}}}about-me/index.html">About me</a>
    -
    <a href="{{{baseHref}}}contact/index.html">Contact</a>
  </header>

  {{{body}}}

  <footer>Footer</footer>
</body>

</html>
