<!doctype html>
<html lang="en-AU">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>

  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#molino.isProd}}
    {{! Parcel does not seem to look at the base tag, so `baseHref` is still }}
    {{! used throughout the template. In prod, all assets and links to files }}
    {{! are relative to `baseHref`, hence why we need this base tag. }}
    <base href="{{{molino.baseHref}}}">
  {{/molino.isProd}}

  <link rel="stylesheet" type="text/css" href="{{{molino.baseHref}}}css/common/index.css">

  {{#molino.isProd}}
    <script src="{{{molino.baseHref}}}js/app.js" defer></script>
  {{/molino.isProd}}
  {{^molino.isProd}}
    <script type="module" src="{{{molino.baseHref}}}js/app.js"></script>
  {{/molino.isProd}}
</head>

<body>
  <div class="page">
    <header>
      <nav>
        <ul>
          <li><a href="{{{molino.baseHref}}}index.html">Home</a></li>
          <li><a href="{{{molino.baseHref}}}about-me/index.html">About me</a></li>
          <li><a href="{{{molino.baseHref}}}contact/index.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      {{{molino.body}}}
    </div>

    <footer>© javiercejudo.com 2013-{{currentYear}}</footer>
  </div>
</body>

</html>
