<div class="container">
  <ul class="menu">
    <li class="menu-item">
      <a href="{{{ molino.baseHref }}}projects/index.html">Projects</a>
    </li>
    <li class="menu-item">
      <a href="{{{ molino.baseHref }}}{{{blogPath}}}/index.html">Blog</a>
    </li>
    <li class="menu-item">
      <a href="{{{ molino.baseHref }}}about-me/index.html">About me</a> /
      <a href="{{{ molino.baseHref }}}sobre-mi/index.html">Sobre mí</a>
    </li>
    <li class="menu-item">
      <a href="{{{ molino.baseHref }}}contact/index.html">Contact</a>
    </li>
    <li class="menu-item">
      <a href="{{{ molino.baseHref }}}{{{clockPath}}}" data-noprefetch>Clock</a>
    </li>
  </ul>
</div>
